# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Go files
*.go text eol=lf

# Config files
*.mod text eol=lf
*.sum text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Scripts
*.sh text eol=lf

# Windows specific
*.bat text eol=crlf
*.cmd text eol=crlf
